.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: unset;
    font-weight: 500;
    color: #b21628;
    border-left: 4px solid #b21628;
}

#v-pills-tab a:hover {
    background-color: #f5f5f5;
    color: #b21628;
    border-left: 4px solid #b21628;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}