.container-header {
    padding-bottom: 10px;
    background-color: #f8f9fa!important;
}

.container-body {
    padding: 10px;
    background-color: #fff!important;
}

.container-footer {
    padding: 10px;
    background-color: #333!important;
}

.logo-homepage {
    width: 100px;
}

.logo-footer {
    width: 150px;
}

.icon-search {
    width: 15px;
}

.navbar-first {
    padding: 0px 0px 15px 0px;
    width: unset;
    -webkit-transition: width 0.8s linear;
    -moz-transition: width 0.8s linear;
    -o-transition: width 0.8s linear;
    -ms-transition: width 0.8s linear;
    transition: width 0.8s linear;
}

.banner-image {
    width: 100%;
}

.nav-link {
    color: #000;
}

footer h6, h5, span {
    color: #fff;
}

.copyright {
    background-color: #b21628;
    text-align: center;
    padding: 15px;
}

.navbar-first.sticky {
    position: fixed;
    top: 55px;
    width: 100%;
    margin-left: -120px;
    padding-top: unset;
    padding-bottom: unset;
    background-color: #b21628;
    z-index: 9999;
}

.navbar-second.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    margin-left: -120px;
    padding-top: unset;
    padding-bottom: unset;
    background-color: #333;
    z-index: 9999;
}

.container-with-sticky {
    padding-top: 75px;
}

.navbar-first.sticky .navbar {
    margin: 0px 120px;
    background-color: #b21628 !important;
}

.navbar-second.sticky .navbar {
    margin: 0px 120px;
    background-color: #333 !important;
}

.navbar-first.sticky .nav-item .nav-link {
    color: #fff;
}

.navbar-second.sticky .nav .nav-link {
    color: #fff;
}

.shadow {
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .15)!important;
}